.title {
  text-align: center;
}

.top-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
  margin: 10px;
  justify-content: space-evenly;
}

.code-wrapper {
  width: 25%;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 15px;
}

.uml-wrapper {
  width: 40%;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 15px;
}

.submit-wrapper {
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 15px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.description {
  background-color: white;
  border-radius: 15px;
  color: black;
  width: 90%;
  padding: 5px;
}

.feedback {
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  color: black;
  width: 90%;
}

.submit {
  background-color: #ccc;
  color: black;
}
