/* Remove default browser margin and padding */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Make sure the React root fills the screen */
#root {
  height: 100%; /* Fill at least the full viewport height */
  width: 100%; /* Fill the full width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.full-width {
  width: 100%;
}

.semi-width {
  width: 100%;
  max-width: 1200px;
}
